stages:
  - build
  - security
  - release

build-image:
  stage: build
  image: docker.jcr.pcfae.com/prplanit/stagefreight:0.2.0-alpha.1
  services:
    - name: docker.jcr.pcfae.com/docker:27-dind
      alias: docker
  variables:
    DOCKER_HOST: "tcp://docker:2376"
    DOCKER_TLS_VERIFY: "1"
    DOCKER_CERT_PATH: "/certs/client"
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker context create tls-context --docker "host=$DOCKER_HOST,ca=$DOCKER_CERT_PATH/ca.pem,cert=$DOCKER_CERT_PATH/cert.pem,key=$DOCKER_CERT_PATH/key.pem"
    - docker buildx create --name stagefreight-builder --use tls-context
  script:
    - stagefreight docker build
  rules:
    - if: '$CI_COMMIT_TAG'
      when: always
